*{ margin:0; padding:0; list-style:none; text-decoration:none; }
html{ font-size:50px; }
.clearFix:after{ display:block; content:''; clear:both; }
.fl{ float:left; }
.fr{ float:right; }
.box{ width:100%; font-size:0.12rem; font-family:"Microsoft YaHei"; }
a{ color:#2d2d2d; }
header{ width:100%; height:0.88rem; background:#d70302; box-shadow:0 0.02rem 0.05rem #999; }
header h1{ width:2.19rem; height:0.69rem; background:url(../images/logo.png) no-repeat; background-size:100%; text-indent:-99999px; margin:0.12rem 0 0 0.33rem; }
header a{ margin:0.23rem 0.65rem 0 0; color:#fff; font-size:0.3rem; }
nav{ height:0.7rem; width:100%; text-align:center; line-height:0.7rem; font-size:0.32rem;  }
nav ul{ width:6.2rem; height:0.7rem; display:flex; display:-webkit-flex; margin-left:0.16rem; }
nav ul li{ width:1.24rem; height:0.7rem; flex:1; -webkit-flex:1; }
nav ul li a.active{ width:100%; height:0.52rem; line-height:0.52rem;  box-sizing:border-box; display:block; border:0.02rem solid #c00d11; background:#fef2f2; color:#ac3d06; margin-top:0.1rem; }
.banner{ position:relative; top:0; left:0; width:6.4rem; height:3.35rem; overflow:hidden; }
.banner ul{ width:109.2rem; height:3.35rem; -webkit-transform:translateX(0rem); transform:translateX(0rem);}
.banner ul li{ width:6.4rem; height:100%; float:left; }
.banner ul li img { width:6.4rem; height:3.35rem; }
.banner ol{ position:absolute; bottom:0.22rem; right:0.3rem; width:0.6rem; height:0.1rem; }
.banner ol li{ width:0.1rem; height:0.1rem; background:#a9a8ad; margin:0 0.05rem; float:left; text-indent:-999999px; }
.banner ol li.active{ background:#fff; }
.banner .pos{ width:100%; height:0.52rem; background:rgba(0,0,0,.5); position:absolute; left:0; bottom:0; line-height:0.52rem; color:#fff; font-size:0.26rem; text-indent:0.26rem;}
.newslist ul{width:100%; }
.newslist ul li{ width:100%; border-bottom:0.02rem solid #e6e6e6; }
.newslist ul li h2{ margin:0.38rem 0 0.3rem 0.2rem; line-height:0.5rem; }
.newslist ul li h2 a{ color:#2d2d2d; font-size:0.35rem; font-weight:normal; }
.newslist ul li .uesr .name{ color:#aaa; margin:0 0.2rem;}
.newslist ul li .uesr span{ color:#aaa; margin-right:0.3rem; }
.newslist ul li .uesr{ font-size:0.26rem; margin-bottom:0.16rem; }
.newslist ul li .uesr em{ font-style:normal;color:#aaa;margin-right:0.3rem; }
.newslist ul li .uesr .discuss b{ color:#aaa; font-weight:normal; }
.newslist ul li .uesr .discuss i{ background:url(../images/message.png) no-repeat; width:0.37rem; height:0.34rem; background-size:100%; margin:0.04rem 0.4rem 0 0.1rem; }
.newslist ul li.active h2 a{ color:#89181a; }
.newslist ul li .piclist{ display:flex; display:-webkit-flex; text-align:center; margin:0.6rem 0 0.25rem 0; }
.newslist ul li .piclist a{ flex:1; -webkit-flex:1; }
.newslist ul li .piclist a p{ width:100%; margin-top:0.2rem; font-size:0.27rem; line-height:0.4rem; }
.newslist ul li .piclist img{ width:2.4rem; height:1.8rem; }
.next{ width:100%; height:0.84rem; text-align:center; line-height:0.84rem; font-size:0.35rem; }
.next a{ color:#2f2f2f; }
footer{ width:100%; height:1.5rem; border-top:0.02rem solid #d8d8d8; border-sizing:border-box; background:#eee; text-align:center; font-size:0.22rem; }
footer ul{ font-size:0.3rem; overflow:hidden; width:3.9rem; margin:0.3rem auto; }
footer ul li{ float:left; margin:0 0.05rem; width:1.2rem; }
footer ul li a{ color:#3b3b3b; }